<h1>Start a New Game</h1>

<p>Select the number of players:</p>

<div class="row">
    <div class="list-group col-12 col-sm-12 col-md-3">
        <a routerLink="/game/1" class="list-group-item list-group-item-action">1 Player</a>
        <a routerLink="/game/2" class="list-group-item list-group-item-action">2 Players</a>
        <a routerLink="/game/3" class="list-group-item list-group-item-action">3 Players</a>
        <a routerLink="/game/4" class="list-group-item list-group-item-action">4 Players</a>
    </div>
</div>