<ng-container *ngIf="yachtGame !== undefined && yachtGame.dice !== undefined">
    <h1>{{yachtGame.currentPlayer().name}}'s Turn</h1>
    <div class="row row-cols-3 row-cols-sm-5 justify-content-center" *ngIf="displayDice()">
        <div *ngFor="let die of yachtGame.dice; index as i" class="col mb-3 d-grid gap-2">
            <button type="button" class="btn btn-lg"
                [ngClass]="{'active': die.held, 'btn-secondary': !die.held, 'btn-success': die.held}"
                (click)="toggleDieHold(die)">
                <p class="h2"><ng-icon name="bootstrapDice{{die.value}}Fill"></ng-icon></p>

                <span *ngIf="!die.held"><ng-icon name="bootstrapX"></ng-icon> Hold?</span>
                <span *ngIf="die.held"><ng-icon name="bootstrapCheck"></ng-icon> Held</span>
            </button>
        </div>
    </div>
    <div class="d-grid gap-2 text-center">
        <button type="button" class="btn btn-primary" disabled="{{yachtGame.playerCanRoll() ? '' : 'disabled'}}"
            (click)="rollDice()">
            Roll Dice
        </button>
    </div>

    <ng-container *ngIf="displayScoring()">

        <h2>{{yachtGame.currentPlayer().name}}'s Score Card</h2>
        <div *ngFor="let score of scoringCategories" class="row mb-1">
            <label for="inputEmail3" class="col-4 col-form-label">{{score.label}}</label>
            <div class="col-8">
                <div class="input-group">
                    <input type="email" class="form-control text-end" id="inputEmail3" readonly
                        value="{{score.value()}}">
                    <button *ngIf="score.value() !== null" class="btn btn-primary" type="button"
                        id="button-addon2" (click)="score.click()">Record Score</button>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text">Ones</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentOnesScore()}}">
                <button *ngIf="yachtGame.getCurrentOnesScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordOnesScore()">Record Ones</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Twos</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentTwosScore()}}">
                <button *ngIf="yachtGame.getCurrentTwosScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordTwosScore()">Record Twos</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Threes</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentThreesScore()}}">
                <button *ngIf="yachtGame.getCurrentThreesScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordThreesScore()">Record Threes</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Fours</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentFoursScore()}}">
                <button *ngIf="yachtGame.getCurrentFoursScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordFoursScore()">Record Fours</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Fives</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentFivesScore()}}">
                <button *ngIf="yachtGame.getCurrentFivesScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordFivesScore()">Record Fives</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Sixes</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentSixesScore()}}">
                <button *ngIf="yachtGame.getCurrentSixesScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordSixesScore()">Record Sixes</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Full House</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentFullHouseScore()}}">
                <button *ngIf="yachtGame.getCurrentFullHouseScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordFullHouseScore()">Record Full House</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Four-Of-A-Kind</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentFourOfAKindScore()}}">
                <button *ngIf="yachtGame.getCurrentFourOfAKindScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordFourOfAKind()">Record Four-Of-A-Kind</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Little Straight</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentLittleStraightScore()}}">
                <button *ngIf="yachtGame.getCurrentLittleStraightScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordLittleStraightScore()">Record Little Straight</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Big Straight</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentBigStraightScore()}}">
                <button *ngIf="yachtGame.getCurrentBigStraightScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordBigStraightScore()">Record Big Straight</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Choice</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentChoiceScore()}}">
                <button *ngIf="yachtGame.getCurrentChoiceScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordChoiceScore()">Record Choice</button>
            </div>
            <div class="input-group">
                <span class="input-group-text">Yacht</span>
                <input type="text" class="form-control" readonly value="{{yachtGame.getCurrentYachtScore()}}">
                <button *ngIf="yachtGame.getCurrentYachtScore() !== null" class="btn btn-primary" type="button"
                    id="button-addon2" (click)="yachtGame.recordYachtScore()">Record Yacht</button>
            </div>
        </div>
    </ng-container>
</ng-container>