<ng-container *ngIf="yachtGame !== undefined && yachtGame.dice !== undefined">
    <h1>{{yachtGame.currentPlayer().name}}'s Turn</h1>
    <div class="text-center">
        <div class="row">
            <div *ngFor="let die of yachtGame.dice; index as i" class="col-2">
                <button type="button" class="btn"
                    [ngClass]="{'active': die.held, 'btn-outline-secondary': !die.held, 'btn-outline-success': die.held}"
                    (click)="toggleDieHold(die)">
                    <p class="h2">
                        <ng-icon *ngIf="die.value === 1" name="bootstrapDice1Fill"></ng-icon>
                        <ng-icon *ngIf="die.value === 2" name="bootstrapDice2Fill"></ng-icon>
                        <ng-icon *ngIf="die.value === 3" name="bootstrapDice3Fill"></ng-icon>
                        <ng-icon *ngIf="die.value === 4" name="bootstrapDice4Fill"></ng-icon>
                        <ng-icon *ngIf="die.value === 5" name="bootstrapDice5Fill"></ng-icon>
                        <ng-icon *ngIf="die.value === 6" name="bootstrapDice6Fill"></ng-icon>
                    </p>

                    <span *ngIf="!die.held"><ng-icon name="bootstrapX"></ng-icon> Not Held</span>
                    <span *ngIf="die.held"><ng-icon name="bootstrapCheck"></ng-icon> Held</span>
                </button>
            </div>
        </div>

        <button type="button" class="btn btn-primary" disabled="{{yachtGame.playerCanRoll() ? '' : 'disabled'}}"
            (click)="rollDice()">
            Roll Dice
        </button>
    </div>
</ng-container>